<div class="col-md-4 text-center col-sm-6 col-xs-6">
  <div class="thumbnail product-box">
      <img src="assets/img/dummyimg.png" alt="" />
      <div class="caption">
        {{product.id}}
          <h3><a href="#">{{product.name}} </a></h3>
          <p>Price : <strong>{{product.price}}</strong>  </p>
          <p><a href="#">Ptional dismiss button </a></p>
          <p>Ptional dismiss button in tional dismiss button in   </p>
          <p><button class="btn btn-success" role="button" (click)="addToCart()">Add To Cart</button>
             <button  class="btn btn-primary" (click)="clickToCount()" >select</button></p>
      
        </div>
  </div>
</div>